@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Light.woff2') format('woff2'),
        url('NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  
  
  
    
    .crosshair {cursor: crosshair;}
    
    body {
      margin-left: 2em;
      margin-top: 1em;
      color: rgb(0, 0, 0);
      background-color: rgb(241, 241, 241);
      font-size: 1.4em;
      font-family: 'Neue Montreal';
    }
    
    
    .center {
      text-align: center;
    }
    
    /*LINKS*/
     a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
      cursor: cell;
    }
    
    a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: #09ff00;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:active {
      color: blue;
      background-color: transparent;
      text-decoration: none;
    }
    
    
    /* mobile */
    
     @media only screen and (min-width: 320px) {
    /*FLEXBOX*/

    
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      margin: auto;
    
    }
    
    .box {
      min-width: 500px;
      padding-bottom: .5rem;
  
    }
    
    .box1 {
      padding-bottom: 2em;
      color: blue;
      font-size: .7em;
    }
    
    .box2 {
      padding-bottom: 2em;
      color: blue;
      font-size: .7em;
    }
    
    .box3 {
      padding-bottom: 2em;
      color: blue;
      font-size: .7em;
    }

    .box4 {
        font-size: .7em;
        padding-bottom: 1rem;
    
    }
  
.box5 {
    max-width: 50px;
}

#image {
    max-width: 280px;
}
  
  
     }
    
     /*LAPTOP*/
    
     @media only screen and (min-width: 900px){
    
    /*FLEXBOX*/


    
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      margin: auto;
      position: absolute;
      z-index: 1;
    }
    
    .box {
      min-width: 465px;
      padding-bottom: 2rem;
  
    }
    
    .box1 {
      padding-bottom: 2em;
      font-size: .7em;
    }
    
    .box2 {
      padding-bottom: 2em;
      font-size: .7em;
    }
    
    .box3 {
      padding-bottom: 2em;
      font-size: .7em;
    }

    .box4 {
        font-size: .7em;
    
    }


  
    .box28 {
      padding-top: 8em;
      font-size: .7em;
      color: blue;
    }
    
    .box29 {
      padding-top: 8em;
      font-size: .7em;
      color: blue;
    }
    
    .box30 {
      padding-top: 8em;
      font-size: .7em;
      color: blue;
    }
  
/*       .image {
      margin: auto;
      position: absolute;
      margin-left: 465px;
      padding-top: 51px;
      z-index: 2;
    } */
    

    #image {
        max-width: 430px;
    }
  
     }





