
  .crosshair {cursor: crosshair;}
  
  body {
    margin-left: 2em;
    margin-top: 1em;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 241, 241);
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /*IMAGES*/
  
  .image {
    margin: auto;
    position: absolute;
    padding-left: 465px;
    padding-top: 75px;
  }
  
  .image1 {
    display: none;
  }
  .image2 {
    display: none;
  }
  .image3 {
    display: none;
  }
  .image4 {
    display: none;
  }
  .image5 {
    display: none;
  }
  .image6 {
    display: none;
  }
  .image7 {
    display: none;
  }
  .image8 {
    display: none;
  }
  .image9 {
    display: none;
  }
  
  
  
  
  .center {
    text-align: center;
  }
  
  /*LINKS*/
   a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    cursor: cell;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff0000;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #00ff00;
    background-color: transparent;
    text-decoration: none;
  }
  
  
  
  
   @media only screen and (min-width: 320px) {
  /*FLEXBOX*/
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
    position: absolute;
  }
  
  .box {
    min-width: 500px;
    
  
  }
  
  .box1 {
    padding-bottom: 2em;
    color: blue;
    font-size: .7em;
  }
  
  .box2 {
    padding-bottom: 2em;
    color: blue;
    font-size: .7em;
  }
  
  .box3 {
    padding-bottom: 2em;
    color: blue;
    font-size: .7em;
  }
  
  .box4 {
    padding-bottom: .8em;
  }
  
  .box5 {

    padding-bottom: .8em;
  }
  
  .box6 {

    padding-bottom: .8em;
  }
  
  .box7 {
    padding-bottom: .8em;
  }
  
  .box8 {
    padding-bottom: .8em;

  }
  
   .box9 {
    padding-bottom: .8em;

   }
  
   .box10 {
    padding-bottom: .8em;
  }
  
  .box11 {
    padding-bottom: .8em;

  }
  
   .box12 {
    padding-bottom: .8em;

   }
  
   .box13 {
    padding-bottom: .8em;
  }
  
  .box14 {
    padding-bottom: .8em;

  }
  
   .box15 {
    padding-bottom: .8em;

   }
  
   .box16 {
    padding-bottom: .8em;
  }
  
  .box17 {
    padding-bottom: .8em;

  }
  
   .box18 {
    padding-bottom: .8em;

   }
  
   .box19 {
    padding-bottom: .8em;
  }
  
  .box20 {
    padding-bottom: .8em;

  }
  
   .box21 {
    padding-bottom: .8em;

   }
  
   .box22 {
    padding-bottom: .8em;
  }
  
  .box23 {
    padding-bottom: .8em;

  }
  
   .box24 {
    padding-bottom: .8em;

   }

   .box25 {
    padding-bottom: .8em;
  }
  
  .box26 {
    padding-bottom: .8em;

  }
  
   .box27 {
    padding-bottom: .8em;
 
   }

   }
  
   /*LAPTOP*/
  
   @media only screen and (min-width: 900px){
  
  /*FLEXBOX*/
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
    padding-top: 1em;
    position: absolute;
  }
  
  .box {
    min-width: 465px;

  }
  
  .box1 {
    padding-bottom: 2em;
    font-size: .7em;
  }
  
  .box2 {
    padding-bottom: 2em;
    font-size: .7em;
  }
  
  .box3 {
    padding-bottom: 2em;
    font-size: .7em;
  }
  
  .box4 {
    padding-bottom: .8em;
  }
  
  .box5 {
    padding-bottom: .8em;

  }
  
  .box6 {
    padding-bottom: .8em;

  }
  
  .box7 {
    padding-bottom: .8em;
  }
  
  .box8 {
    padding-bottom: .8em;
 
  }
  
   .box9 {
    padding-bottom: .8em;
 
   }
  
   .box10 {
    padding-bottom: .8em;
  }
  
  .box11 {
    padding-bottom: .8em;
  
  }
  
   .box12 {
    padding-bottom: .8em;
  
   }
  
   .box13 {
    padding-bottom: .8em;
  }
  
  .box14 {
    padding-bottom: .8em;
  
  }
  
   .box15 {
    padding-bottom: .8em;
   
   }
  
   .box16 {
    padding-bottom: .8em;
  }
  
  .box17 {
    padding-bottom: .8em;
 
  }
  
   .box18 {
    padding-bottom: .8em;
  
   }
  
   .box19 {
    padding-bottom: .8em;
  }
  
  .box20 {
    padding-bottom: .8em;

  }
  
   .box21 {
    padding-bottom: .8em;
 
   }
  
   .box22 {
    padding-bottom: .8em;
  }
  
  .box23 {
    padding-bottom: .8em;

  }
  
   .box24 {
    padding-bottom: .8em;
  
   }
  
   .box25 {
    padding-bottom: .8em;
  }
  
  .box26 {
    padding-bottom: .8em;
  
    
  }
  
   .box27 {
    padding-bottom: .8em;
   
   }

   .box28 {
    padding-top: 8em;
    font-size: .7em;

  }
  
  .box29 {
    padding-top: 8em;
    font-size: .7em;
  }
  
   .box30 {
    padding-top: 8em;
    font-size: .7em;
   }

   }